<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopta Pets</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://file.myfontastic.com/e5H9LUj5bTPs52rQ4f96C6/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/adopta-pets/css/ghpages-materialize.css">
    <link rel="stylesheet" href="/adopta-pets/css/leaflet.css">
    <link rel="stylesheet" href="/adopta-pets/css/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="/adopta-pets/css/Control.OSMGeocoder.css">
    <link rel="stylesheet" href="/adopta-pets/css/adoptapets.css">
    <link rel="stylesheet" href="/adopta-pets/css/style.css">
    <link rel="icon" href="/adopta-pets/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <% include ../menu.ejs %>
    </header>
    <main>
      <% include ../navbar %>
      <div class="row">
        <div class="col s12 m9 l10" style="padding: 0">
          <% include ../header %>
          <div class="container">
            <div id="session">
              <div class="scrollspy" id="post">
                <% if (message.length > 0) { %>
                  <div class="row" id="alert_box">
                    <div class="col s12">
                      <div class="card light-blue">
                        <div class="row">
                          <div class="col s12 m10">
                            <div class="white-text">
                              <blockquote><%= message %></blockquote>
                            </div>
                          </div>
                          <div class="col s12 m2">
                            <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% } %>
                <div class="row center">
                  <h3 class="light header icon ap-cat-3 orange-text"> Editar información de <%= publication.features.name %></h3>
                  <p>Mantener actualizada la información de la mascota aumenta la probabilidad de la adopción.</p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="row">
                <form action="/adopta-pets/publications/<%= publication._id %>/delete?_method=delete" id="image-form" method="post">
                  <input type="hidden" name="photo" id="photo">
                </form>
                <form action="/adopta-pets/publications/<%= publication._id %>/edit?_method=put" id="publication-form" enctype="multipart/form-data" method="post">
                  <div class="scrollspy" id="pet">
                    <div class="row center">
                      <h4 class="light header icon ap-dog-8 amber-text"> Información de la Mascota</h4>
                    </div>
                    <% if(publication.photos.length > 0) { %>
                      <div class="row">
                        <div class="slider">
                          <ul class="slides">
                            <% for (let i = 0; i < publication.photos.length; i++) { %>
                              <li>
                                <div class="col s12 m2">
                                  <i class="exit fa fa-times icon_style red-text" id="exit-<%= publication.photos[i] %>" aria-hidden="true" style="z-index: 3; font-size: 3em;"></i>
                                </div>
                                <img src="/adopta-pets/uploads/<%= publication.photos[i] %>">
                              </li>
                            <% } %>
                          </ul>
                        </div>
                      </div>
                    <% } else { %>
                      <% if(publication.features.type === 'gato') { %>
                        <img class="materialboxed"  src="/adopta-pets/img/default-cat.svg">
                      <% } else { %>
                        <img class="materialboxed"  src="/adopta-pets/img/default-dog.svg">
                      <% } %>
                    <% } %>
                    <div class="row">
                      <div class="input-field col m6 s12">
                        <% if (publication.features.type === 'gato') { %>
                          <i class="icon choose ap-cat-6 prefix"></i>
                        <% } else { %>
                          <i class="icon choose ap-dog-2 prefix"></i>
                        <% } %>
                        <select name="pet.type" id="type" class="validate" required="" disabled="">
                          <option value="" disabled selected>Especie</option>
                          <option value="gato" <% if (publication.features.type === 'gato') { %> selected <% } %> >Gato</option>
                          <option value="perro" <% if (publication.features.type === 'perro') { %> selected <% } %> >Perro</option>
                        </select>
                      </div>
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">zoom_out_map</i>
                        <select name="pet.size" id="size" class="validate" required="" disabled="">
                          <option value="" disabled selected>Tamaño</option>
                          <option value="pequeño" <% if (publication.features.size === 'pequeño') { %> selected <% } %> >Pequeño(11 kg o menos)</option>
                          <option value="mediano" <% if (publication.features.size === 'mediano') { %> selected <% } %> >Mediano(12-27 kg)</option>
                          <option value="grande" <% if (publication.features.size === 'grande') { %> selected <% } %> >Grande(28-45 kg)</option>
                          <option value="extra" <% if (publication.features.size === 'extra') { %> selected <% } %> >Extra Grande(46 kg o más)</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col m6 s12">
                        <i class="icon ap-dog-3 prefix"></i>
                        <input type="text" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+" id="pet.name" name="pet.name" class="validate" autocomplete="off" required="" disabled="" value="<%= publication.features.name %>" aria-required="true">
                        <label for="pet.name">Nombre</label>
                      </div>
                      <div class="input-field col m6 s12">
                        <div class="col s8">
                          <i class="material-icons prefix">add_circle</i>
                          <input type="number" id="pet.age" name="pet.age" class="validate" autocomplete="off" required="" disabled="" aria-required="true" value="<%= publication.features.age %>">
                          <label for="pet.age">Edad</label>
                        </div>
                        <div class="col s4">
                          <select name="pet.time" id="pet.time" class="validate" required="" disabled="">
                            <option value="" disabled selected>Tiempo</option>
                            <option value="mes" <% if (publication.features.time === 'mes') { %> selected <% } %> >Mes(es)</option>
                            <option value="año" <% if (publication.features.time === 'año') { %> selected <% } %> >Año(s)</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row" id="other-color">
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">pets</i>
                        <select name="pet.gender" id="gender" class="validate" required="" disabled="">
                          <option value="" disabled selected>Sexo</option>
                          <option value="m" <% if (publication.features.gender === 'm') { %> selected <% } %> >Macho</option>
                          <option value="f" <% if (publication.features.gender === 'f') { %> selected <% } %> >Hembra</option>
                        </select>
                      </div>
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">color_lens</i>
                        <select name="pet.color" id="color" class="validate" required="" disabled="">
                          <option value="" disabled selected>Color Predominante</option>
                          <option value="blanco" <% if (publication.features.color === 'blanco') { %> selected <% } %> >Blanco</option>
                          <option value="negro" <% if (publication.features.color === 'negro') { %> selected <% } %> >Negro</option>
                          <option value="cafe" <% if (publication.features.color === 'cafe') { %> selected <% } %> >Café/Chocolate</option>
                          <option value="gris" <% if (publication.features.color === 'gris') { %> selected <% } %> >Gris/Plata/Azul</option>
                          <option value="mirlo" <% if (publication.features.color === 'mirlo') { %> selected <% } %> >Mirlo</option>
                          <option value="dorado" <% if (publication.features.color === 'dorado') { %> selected <% } %> >Dorado/Naranja</option>
                          <option value="gris-cafe" <% if (publication.features.color === 'gris-cafe') { %> selected <% } %> >Gris y Café</option>
                          <option value="amarillo" <% if (publication.features.color === 'amarillo') { %> selected <% } %> >Amarillo/Pardo</option>
                          <option value="tricolor" <% if (publication.features.color === 'tricolor') { %> selected <% } %> >Café y Negro y Blanco</option>
                          <option value="otro" <% if (publication.features.color === 'otro') { %> selected <% } %> >Otro</option>
                        </select>
                      </div>
                    </div>
                    <% if (publication.features.color === 'otro') { %>
                      <div class="row" id="newColor">
                        <div class="input-field col offset-m3 m6 s12">
                          <i class="material-icons prefix">help</i>
                          <input type="text" id="otherColor" name="otherColor" require="" disabled="" value="<%= publication.features.otherColor %>" class="validate">
                          <label for="otherColor">¿Cuál color?</label>
                        </div>
                      </div>
                    <% } %>
                    <div class="row">
                      <div class="input-field col m12 s12 file-field">
                        <div class="btn">
                          <span>
                            ARCHIVO(S)
                          </span>
                          <input type="file" name="pet.photos" class="validate" accept='image/*' multiple disabled="" required="">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" placeholder="Sube una o más imágenes">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col m12 s12">
                        <i class="material-icons prefix">location_on</i>
                        <label>Ubicacion</label>
                        <input type="hidden" name="address" value="<%= publication.address %>" id="address">
                        <input type="hidden" name="lat" value="<%= publication.lat %>" id="lat">
                        <input type="hidden" name="lng" value="<%= publication.lng %>" id="lng">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m12">
                        <br>
                        <div id="required-map" style="display: none" class="red">
                          <a class="close" onclick="hideAlert()" aria-label="close">&times;</a>
                          <p></p><strong>Error!</strong> Debe establecer una ubicacion para el cliente antes de registrarlo. Búsque la ubicación en el mapa y haga click alli.
                        </div>
                      </div>
                    </div>
                    <div class="row center">
                      <div class="input-field col m12 s12">
                        <div id="map" style="max-width: 100%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="scrollspy" id="contact-pet">
                    <div class="row center">
                      <h4 class="light header icon ap-cat-8 amber-text"> Información de Contacto</h4>
                    </div>
                    <div class="row">
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">phone</i>
                        <input type="text" id="phone" name="phone" class="validate" autocomplete="off" required="" disabled="" value="<%= publication.phone %>" aria-required="true">
                        <label for="phone">Teléfono</label>
                      </div>
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">email</i>
                        <input type="text" id="email" name="email" class="validate" autocomplete="off" required="" disabled="" value="<%= publication.email %>" aria-required="true">
                        <label for="email">E-mail</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col m12 s12">
                        <i class="material-icons prefix">assignment</i>
                        <textarea id="description" name="description" class="materialize-textarea validate" autocomplete="off" disabled="" aria-required="true"><%= publication.description %></textarea>
                        <label for="description">Descripción</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col m12 s12">
                        <input type="checkbox" class="filled-in" name="available" id="available" <% if (!publication.available) { %> checked="checked" <% } %> >
                        <label for="available">¿Ya fue adoptado?</label>
                      </div>
                    </div>
                  </div>
                  <div class="row center" id="warnings">
                    <div class="col s12">
                      <button class="btn waves-effect waves-light blue" id="edit">Editar</button>
                      <button class="btn waves-effect waves-light green" id="save">Enviar</button>
                      <button class="btn waves-effect waves-light red" id="delete">Borrar</button>
                    </div>
                  </div>
                </form>
                <form class="" action="/adopta-pets/publications/<%= publication._id %>?_method=delete" id="deletePublicationForm" method="post">
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col hide-on-small-only m3 l2">
          <div class="toc-wrapper pinned">
            <ul class="section table-of-contents">
              <li><a href="#post">Publicación</a></li>
              <li><a href="#pet">Información Mascota</a></li>
              <li><a href="#contact-pet">Información Contacto</a></li>
              <li><a href="#contact">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <% include ../footer %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="/adopta-pets/js/chooseIcon.js"></script>
    <script src="/adopta-pets/js/otherColor.js"></script>
    <script src="/adopta-pets/js/leaflet.js"></script>
    <script src="/adopta-pets/js/Control.OSMGeocoder.js"></script>
    <script src="/adopta-pets/js/esri-leaflet.js"></script>
    <script src="/adopta-pets/js/esri-leaflet-geocoder.js"></script>
    <script src="/adopta-pets/js/geolocation.js"></script>
    <script src="/adopta-pets/js/editPublication.js"></script>
    <script type="text/javascript">
      (function($) {
        $(function() {
          $('.button-collapse').sideNav();
          $('.parallax').parallax();
          $('.scrollspy').scrollSpy();
          $('select').material_select();
          $('.slider').slider();
          $('.materialboxed').materialbox();
          $("#alert_close").click(() => $("#alert_box").fadeOut("slow"));
        }); // end of document ready
      })(jQuery); // end of jQuery name space
    </script>
  </body>
</html>
