<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adopta Pets</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://file.myfontastic.com/e5H9LUj5bTPs52rQ4f96C6/icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/adopta-pets/css/ghpages-materialize.css">
    <link rel="stylesheet" href="/adopta-pets/css/adoptapets.css">
    <link rel="stylesheet" href="/adopta-pets/css/style.css">
  </head>
  <body>
    <header>
      <% include ../menu.ejs %>
    </header>
    <main>
      <% include ../navbar %>
      <div class="row">
        <div class="col s12 m9 l10" style="padding: 0">
          <% include ../header %>
          <div class="container">
            <div class="scrollspy" id="post">
              <div class="section scrollspy">
                <% if (message.length > 0) { %>
                  <div class="row" id="alert_box">
                    <div class="col s12">
                      <div class="card light-blue">
                        <div class="row">
                          <div class="col s12 m10">
                            <div class="center card-content white-text">
                              <p><%= message %></p>
                          </div>
                        </div>
                        <div class="col s12 m2">
                          <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
                <div class="row center">
                    <h3 class="light header icon ap-dog-2 orange-text"> Búsqueda</h3>
                    <p>Encuentra la mascota de tus sueños de acuerdo a las características que selecciones.</p>
                </div>
                <div class="row">
                  <form id="search-form" action="/adopta-pets/publications/search" method="get">
                    <div class="row">
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">location_on</i>
                        <input type="number" id="dist" name="dist" min="0" value="10" max="12800">
                        <label for="dist">Distancia para la búsqueda en kilómetros</label>
                        <input type="hidden" name="lat1" id="lat1">
                        <input type="hidden" name="lng1" id="lng1">
                      </div>
                      <div class="input-field col m6 s12">
                        <i class="choose icon ap-dog-2 prefix"></i>
                        <select name="type" id="type">
                          <option disabled selected>Tipo</option>
                          <option value="gato">Gato</option>
                          <option value="perro">Perro</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col m6 s12">
                        <div class="col s8">
                          <i class="material-icons prefix">add_circle</i>
                          <input type="number" id="age" name="age" aria-required="true">
                          <label for="age">Edad</label>
                        </div>
                        <div class="col s4">
                          <select name="time">
                            <option value="" disabled selected>Tiempo</option>
                            <option value="mes">Mes(es)</option>
                            <option value="año">Año(s)</option>
                          </select>
                        </div>
                      </div>
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">zoom_out_map</i>
                        <select name="size">
                          <option value="" disabled selected>Tamaño</option>
                          <option value="pequeño">Pequeño(11 kg o menos)</option>
                          <option value="mediano">Mediano(12-27 kg)</option>
                          <option value="grande">Grande(28-45 kg)</option>
                          <option value="extra">Extra Grande(46 kg o más)</option>
                        </select>
                      </div>
                    </div>
                    <div class="row" id="other-color">
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">pets</i>
                        <select name="gender" class="validate">
                          <option value="" disabled selected>Sexo</option>
                          <option value="m">Macho</option>
                          <option value="f">Hembra</option>
                        </select>
                      </div>
                      <div class="input-field col m6 s12">
                        <i class="material-icons prefix">color_lens</i>
                        <select name="color" id="color">
                          <option value="" disabled selected>Color Predominante</option>
                          <option value="blanco">Blanco</option>
                          <option value="negro">Negro</option>
                          <option value="cafe">Café/Chocolate</option>
                          <option value="gris">Gris/Plata/Azul</option>
                          <option value="mirlo">Mirlo</option>
                          <option value="dorado">Dorado/Naranja</option>
                          <option value="gris-cafe">Gris y Café</option>
                          <option value="amarillo">Amarillo/Pardo</option>
                          <option value="tricolor">Café y Negro y Blanco</option>
                          <option value="otro">Otro</option>
                        </select>
                      </div>
                    </div>
                    <div class="row center">
                      <div class="col s12">
                        <button class="btn waves-effect waves-light light-blue" id="search">Buscar</button>
                      </div>
                    </div>
                  </form>
                  <p class="center red-text"><i>Nota: Las búsquedas por defecto se realizan por la Distancia en Kilómetros si no se seleccionan otras características</i></p>
                </div>
                <% if (typeof(publications) == 'object' && publications) { %>
                  <% for (let pub of publications) { %>
                    <% let i = 0; %>
                    <% if (i % 2 === 0) { %>
                      <div class="row">
                    <% } %>
                      <div class="col l4 m6 s12">
                        <div class="card">
                          <div class="card-image">
                            <% if(pub.photos.length > 0) { %>
                              <div class="row">
                                <div class="slider">
                                  <ul class="slides">
                                    <% for (let i = 0; i < pub.photos.length; i++) { %>
                                      <li><img src="/adopta-pets/uploads/<%= pub.photos[i] %>"></li>
                                    <% } %>
                                  </ul>
                                </div>
                              </div>
                            <% } %>
                          </div>
                          <div class="card-stacked">
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4"><%= pub.features.name %></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col l8 m6 s12">
                        <div class="row">
                          <h5 class="center amber-text icon ap-cat-7"> Características</h5>
                          <div class="input-field col l6 m12 s6">
                            <i class="material-icons prefix">color_lens</i>
                            <input type="text" id="pet.color" name="pet.color" readonly=""
                              <% if (pub.features.color === 'blanco') { %> value="Blanco" <% } %>
                              <% if (pub.features.color === 'negro') { %> value="Negro" <% } %>
                              <% if (pub.features.color === 'cafe') { %> value="Café/Chocolate" <% } %>
                              <% if (pub.features.color === 'gris') { %> value="Gris/Plata/Azul" <% } %>
                              <% if (pub.features.color === 'mirlo') { %> value="Mirlo" <% } %>
                              <% if (pub.features.color === 'dorado') { %> value="Dorado/Naranja" <% } %>
                              <% if (pub.features.color === 'gris-cafe') { %> value="Gris y Café" <% } %>
                              <% if (pub.features.color === 'amarillo') { %> value="Amarillo/Pardo" <% } %>
                              <% if (pub.features.color === 'tricolor') { %> value="Café y Negro y Blanco" <% } %>
                              aria-required="true">
                            <label for="pet.color">Color</label>
                          </div>
                          <div class="input-field col l6 m12 s6">
                            <i class="material-icons prefix">zoom_out_map</i>
                            <input type="text" id="pet.size" name="pet.size" readonly=""
                              <% if (pub.features.size === 'pequeño') { %>  value="Pequeño(11 kg o menos)" <% } %>
                              <% if (pub.features.size === 'mediano') { %>  value="Mediano(12-27 kg)" <% } %>
                              <% if (pub.features.size === 'grande') { %>  value="Grande(28-45 kg)" <% } %>
                              <% if (pub.features.size === 'extra') { %>  value="Extra Grande(46 kg o más)" <% } %>
                              aria-required="true">
                            <label for="pet.size">Tamaño</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col l6 m6 s12">
                            <div class="col s8">
                              <i class="material-icons prefix">add_circle</i>
                              <input type="number" id="pet.age" name="pet.age" readonly="" value="<%= pub.features.age %>">
                              <label for="pet.age">Edad</label>
                            </div>
                            <div class="col s4">
                              <input name="pet.time" id="pet.time" readonly
                                <% if (pub.features.time === 'mes') { %> value="Mes(es)" <% } %>
                                <% if (pub.features.time === 'año') { %> value="Año(s)" <% } %>
                                aria-required="true">
                            </div>
                          </div>
                          <div class="input-field col l6 m12 s6">
                            <i class="material-icons prefix">pets</i>
                            <input type="text" id="pet.gender" name="pet.gender" readonly=""
                              <% if(pub.features.gender === 'm') { %>
                                value="Macho"
                              <% } else { %>
                                value="Hembra"
                              <% } %>
                            aria-required="true">
                            <label for="pet.gender">Sexo</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col m6 s12">
                            <i class="icon ap-dog-2 prefix"></i>
                            <input type="text" id="pet.type" name="pet.type" readonly=""
                              <% if(pub.features.type === 'gato') { %>
                                value="Gato"
                              <% } else { %>
                                value="Perro"
                              <% } %>
                            aria-required="true">
                            <label for="pet.type">Tipo</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col l6 m12 s6">
                            <a class="btn waves-effect waves-light cyan darken-2" href="/adopta-pets/publications/<%= pub._id  %>">Ver más</a>
                          </div>
                        </div>
                      </div>
                      <% if ((i + 1) % 2 === 0 || i == publications.length - 1) { %>
                        </div>
                      <% } %>
                      <% i++ %>
                    <div class="divider"></div>
                  <% } %>
                <% } %>
              </div>
            </div>
            <h1 class="center icon ap-dog-2"></h1>
          </div>
        </div>
        <div class="col hide-on-small-only m3 l2">
          <div class="toc-wrapper pinned">
            <ul class="section table-of-contents">
              <li><a href="#post">Publicaciones</a></li>
              <li><a href="#contact">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <% include ../footer %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="/adopta-pets/js/management.js"></script>
    <script src="/adopta-pets/js/search.js"></script>
    <script src="/adopta-pets/js/chooseIcon.js"></script>
    <script src="/adopta-pets/js/otherColor.js"></script>
    <script type="text/javascript">
      (function($) {
        $(function() {
          $('.button-collapse').sideNav();
          $('.parallax').parallax();
          $('select').material_select();
          $('.scrollspy').scrollSpy();
          $('.slider').slider();
          $("#alert_close").click(() => $("#alert_box").fadeOut("slow"));
        }); // end of document ready
      })(jQuery); // end of jQuery name space
    </script>
  </body>
</html>
