<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopta Pets</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://file.myfontastic.com/e5H9LUj5bTPs52rQ4f96C6/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/ghpages-materialize.css">
    <link rel="stylesheet" href="/css/adoptapets.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <% include ../menu.ejs %>
    </header>
    <main>
      <% include ../navbar %>
      <div class="row">
        <div class="col s12 m9 l10" style="padding: 0">
          <% include ../header %>
          <div class="container">
            <div id="session">
              <div class="scrollspy" id="post">
                <div class="row center">
                  <h3 class="light header icon ap-cat-3 orange-text"> Información sobre <%= publication.features.name %></h3>
                  <p>Publica una mascota en adopción.</p>
                </div>
              </div>
              <div class="row">
                <div class="card">
                  <div class="card-image">
                    <% if(publication.photos.length > 0) { %>
                      <div class="row">
                        <div class="slider">
                          <ul class="slides">
                            <% for (let i = 0; i < publication.photos.length; i++) { %>
                              <li><img src="/uploads/<%= publication.photos[i] %>"></li>
                            <% } %>
                          </ul>
                        </div>
                      </div>
                    <% } %>
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <div class="scrollspy" id="pet">
                        <div class="row center">
                          <h4 class="light header icon ap-dog-8 amber-text"> Características</h4>
                        </div>
                        <div class="row">
                          <div class="input-field col m6 s12">
                            <i class="material-icons prefix">color_lens</i>
                            <input type="text" id="pet.color" name="pet.color" readonly="" value="<%= publication.features.color %>" aria-required="true">
                            <label for="pet.color">Color</label>
                          </div>
                          <div class="input-field col m6 s12">
                            <i class="material-icons prefix">zoom_out_map</i>
                            <input type="text" id="pet.size" name="pet.size" readonly="" value="<%= publication.features.size %>" aria-required="true">
                            <label for="pet.size">Tamaño</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col m6 s12">
                            <i class="icon ap-dog-3 prefix"></i>
                            <input type="text" id="pet.name" name="pet.name" readonly="" value="<%= publication.features.name %>" aria-required="true">
                            <label for="pet.name">Nombre</label>
                          </div>
                          <div class="input-field col m6 s12">
                            <i class="material-icons prefix">add_circle</i>
                            <input type="text" id="pet.age" name="pet.age" readonly="" value="<%= publication.features.age %>" aria-required="true">
                            <label for="pet.age">Edad</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="input-field col m6 s12">
                            <i class="material-icons prefix">pets</i>
                            <input type="text" id="pet.gender" name="pet.gender" readonly=""
                              <% if(publication.features.gender === 'm') { %>
                                value="Macho"
                              <% } else { %>
                                value="Hembra"
                              <% } %>
                            aria-required="true">
                            <label for="pet.gender">Sexo</label>
                          </div>
                          <div class="input-field col m6 s12">
                            <i class="icon ap-dog-2 prefix"></i>
                            <input type="text" id="pet.type" name="pet.type" readonly=""
                              <% if(publication.features.type === 'gato') { %>
                                value="Gato"
                              <% } else { %>
                                value="Perro"
                              <% } %>
                            aria-required="true">
                            <label for="pet.type">Tipo</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col m12 s12">
                            <i class="material-icons prefix">location_on</i>
                            <input type="text" id="address" name="address" value="<%= publication.address %>" aria-required="true">
                            <label for="address">Ubicación(Aproximada)</label>
                            <input type="hidden" name="lat" value="<%= publication.lat %>" id="lat">
                            <input type="hidden" name="lng" value="<%= publication.lng %>" id="lng">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col s12 m12">
                            <div id="required-map" style="display: none" class="red">
                              <a class="close" onclick="hideAlert()" aria-label="close">&times;</a>
                              <p></p><strong>Error!</strong> Debe establecer una ubicacion para el cliente antes de registrarlo. Búsque la ubicación en el mapa y haga click alli.
                            </div>
                          </div>
                        </div>
                        <div class="row center">
                          <div class="input-field col m12 s12">
                            <div id="map" style="max-width: 100%"></div>
                          </div>
                        </div>
                      </div>

                      <div class="divider"></div>
                      <div class="scrollspy" id="contact-info">
                        <div class="row center">
                          <h4 class="light header icon ap-dog-8 amber-text"> Información del Contacto</h4>
                        </div>

                        <div class="row">
                          <div class="input-field col m6 s12">
                            <i class="material-icons prefix">phone</i>
                            <input type="text" id="phone" name="phone" value="<%= publication.phone %>" readonly="" aria-required="true">
                            <label for="phone">Teléfono</label>
                          </div>
                          <div class="input-field col m6 s12">
                            <i class="material-icons prefix">email</i>
                            <input type="text" id="email" name="email" value="<%= publication.email %>" readonly="" aria-required="true">
                            <label for="email">E-mail</label>
                          </div>
                        </div>

                        <% if (publication.description) { %>
                          <div class="row">
                            <div class="input-field col m12 s12">
                              <i class="material-icons prefix">assignment</i>
                              <textarea id="description" name="description" class="materialize-textarea" readonly="" aria-required="true"><%= publication.description %></textarea>
                              <label for="description">Descripción</label>
                            </div>
                          </div>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <h1 class="center icon ap-cat-5  %>"></h1>
          </div>
        </div>
        <div class="col hide-on-small-only m3 l2">
          <div class="toc-wrapper pinned">
            <ul class="section table-of-contents">
              <li><a href="#post">Publicación</a></li>
              <li><a href="#pet">Características</a></li>
              <li><a href="#contact-info">Información Contacto</a></li>
              <li><a href="#contact">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <% include ../footer %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7NUMl0ZdbpgytjC5N3nwIps43cXbeYpU"></script>
    <script src="/js/maps.js"></script>
    <script type="text/javascript">
      (function($) {
        $(function() {
          $('.button-collapse').sideNav();
          $('.parallax').parallax();
          $('.scrollspy').scrollSpy();
          $('select').material_select();
          $('.slider').slider();
        }); // end of document ready
      })(jQuery); // end of jQuery name space
    </script>
  </body>
</html>
