<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adopta Pets</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://file.myfontastic.com/e5H9LUj5bTPs52rQ4f96C6/icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/ghpages-materialize.css">
    <link rel="stylesheet" href="/css/adoptapets.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <% include ../menu.ejs %>
    </header>
    <main>
      <% include ../navbar %>
      <div class="row">
        <div class="col s12 m9 l10" style="padding: 0">
          <% include ../header %>
          <div class="container">
            <div class="section scrollspy">
              <div class="row center">
                  <h3 class="light header icon ap-dog-4"> Panel de Administración</h3>
                  <p>Publica una mascota en adopción.</p>
                </div>
              <% for (let usr of users) { %>
                <% let i = 0; %>
                <% if (i % 2 === 0) { %>
                  <div class="row">
                <% } %>
                  <div class="col s12">
                    <div class="card">
                      <div class="card-stacked">
                        <div class="card-content">
                          <form action="/users/<%= usr._id %>?_method=put" method="post" id="form-<%= usr._id %>">
                            <div class="row">
                              <div class="input-field col m6 s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input type="text" id="firstname" name="firstname" class="validate" value="<%= usr.firstname %>" autocomplete="off" required="" aria-required="true" disabled="">
                                <label for="firstname">Nombre(s) </label>
                              </div>
                              <div class="input-field col m6 s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input type="text" id="lastname" name="lastname" class="validate" value="<%= usr.lastname %>" autocomplete="off" required="" aria-required="true" disabled="">
                                <label for="lastname">Apellido(s) </label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col m4 s12">
                                <i class="material-icons prefix">email</i>
                                <input type="email" id="user" name="email" class="validate" value="<%= usr.email %>" autocomplete="off" required="" aria-required="true" disabled="">
                                <label for="user">Email </label>
                              </div>
                              <div class="input-field col m4 s12">
                                <i class="material-icons prefix">phone</i>
                                <input type="text" id="phone" name="phone" class="validate" value="<%= usr.phone %>" autocomplete="off" required="" aria-required="true"  disabled="">
                                <label for="user">Teléfono </label>
                              </div>
                            </div>
                            <div class="row center hide-on-small-only">
                              <button class="btn waves-effect waves-light green save" id="save-<%= usr._id %>">Guardar</button>
                              <button class="btn waves-effect waves-light blue edit" id="edit-<%= usr._id %>">Editar</button>
                              <button class="btn waves-effect waves-light orange activate" id="activate-<%= usr._id %>">
                                <% if (usr.state === '3') { %>
                                  Activar
                                <% } else { %>
                                  Desactivar
                                <% } %>
                              </button>
                            </div>
                            <div class="row center hide-on-med-and-up">
                              <button class="btn-floating btn-large waves-effect waves-light green save" id="save-<%= usr._id %>"><i class="material-icons">done</i></button>
                              <button class="btn-floating btn-large waves-effect waves-light blue edit" id="edit-<%= usr._id %>"><i class="material-icons">mode_edit</i></button>
                              <button class="btn-floating btn-large waves-effect waves-light orange activate" id="activate-<%= usr._id %>">
                                <% if (usr.state === '3') { %>
                                  <i class="material-icons">reply</i>
                                <% } else { %>
                                  <i class="material-icons">delete</i>
                                <% } %>
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% if ((i + 1) % 2 === 0 || i == users.length - 1) { %>
                    </div>
                  <% } %>
                  <form action="/users/<%= usr._id %>?_method=delete" method="post" id="deactivateForm-<%= usr._id %>">
                    <input type="hidden" name="status" id="status-<%= usr._id %>">
                  </form>
                  <% i++ %>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <div class="row center">
            <div class="col s12 m12">
              <div class="buysellads-header center-on-small-only">
                <div id="icon-intro" class="icon ap-title"></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    </main>
    <% include ../footer %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="/js/management.js"></script>
    <script type="text/javascript">
      (function($) {
        $(function() {
          $('.button-collapse').sideNav();
          $('.parallax').parallax();
          $('.scrollspy').scrollSpy();
        }); // end of document ready
      })(jQuery); // end of jQuery name space
    </script>
  </body>
</html>
