<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adopta Pets</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://file.myfontastic.com/e5H9LUj5bTPs52rQ4f96C6/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/adopta-pets/css/ghpages-materialize.css">
    <link rel="stylesheet" href="/adopta-pets/css/adoptapets.css">
    <link rel="stylesheet" href="/adopta-pets/css/style.css">
    <link rel="icon" href="/adopta-pets/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <header>
      <% include ../menu.ejs %>
    </header>
    <main>
      <% include ../navbar %>
      <div class="row">
        <div class="col s12 m9 l10" style="padding: 0">
          <% include ../header %>
          <div class="container">
            <div class="section scrollspy" id="session">
              <% if (message.length > 0) { %>
                <div class="row" id="alert_box">
                  <div class="col s12">
                    <div class="card light-blue">
                      <div class="row">
                        <div class="col s12 m10">
                          <div class="white-text">
                            <blockquote><%= message %></blockquote>
                          </div>
                        </div>
                        <div class="col s12 m2">
                          <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>

              <div class="row center">
                <h3 class="light header icon ap-cat-6 orange-text"> Perfíl del Usuario</h3>
                <p class="col s12 m8 offset-m2 caption">Datos de contacto del usuario</p>
              </div>
              <div class="row">
                <form action="/adopta-pets/profile?_method=put" id="profile" method="post">
                  <div class="row">
                    <div class="input-field col m6 s12">
                      <i class="material-icons prefix">account_circle</i>
                      <input type="text" id="firstname" name="firstname" class="validate" value="<%= user.firstname %>" autocomplete="off" required="" aria-required="true" disabled="">
                      <label for="firstname">Nombre(s) </label>
                    </div>
                    <div class="input-field col m6 s12">
                      <i class="material-icons prefix">account_circle</i>
                      <input type="text" id="lastname" name="lastname" class="validate" value="<%= user.lastname %>" autocomplete="off" required="" aria-required="true" disabled="">
                      <label for="lastname">Apellido(s) </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col m6 s12">
                      <i class="material-icons prefix">email</i>
                      <input type="email" id="user" name="email" class="validate" value="<%= user.email %>" autocomplete="off" required="" aria-required="true" disabled="">
                      <label for="user">Email </label>
                    </div>
                    <div class="input-field col m6 s12">
                      <i class="material-icons prefix">phone</i>
                      <input type="text" id="phone" name="phone" class="validate" value="<%= user.phone %>" autocomplete="off" required="" aria-required="true"  disabled="">
                      <label for="user">Teléfono </label>
                    </div>
                  </div>
                  <div class="row center">
                    <button class="btn waves-effect waves-light blue" id="edit">Editar</button>
                    <button class="btn waves-effect waves-light green" type="submit" id="save">Enviar</button>
                  </div>
                  <% if (user.state === '2') { %>
                    <div class="row center">
                      <button class="btn waves-effect waves-light red" id="deactivate">Desactivar Cuenta</button>
                    </div>
                  <% } %>
                </form>
                <% if (user.state === '2') { %>
                  <form class="" action="/adopta-pets/users/<%= user._id %>/deactiveAccount?_method=put" id="deactivateForm" method="post">
                  </form>
                <% } %>
              </div>
            </div>
            <div class="divider"></div>
            <h1 class="center icon ap-cat-6"></h1>
          </div>
        </div>
        <div class="col hide-on-small-only m3 l2">
          <div class="toc-wrapper pinned">
            <ul class="section table-of-contents">
              <li><a href="#session">Perfíl</a></li>
              <li><a href="#contact">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <% include ../footer %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="/adopta-pets/js/editUser.js"></script>
    <script type="text/javascript">
      (function($) {
        $(function() {
          $('.button-collapse').sideNav();
          $('.parallax').parallax();
          $('.scrollspy').scrollSpy();
          $("#alert_close").click(() => $("#alert_box").fadeOut("slow"));
        }); // end of document ready
      })(jQuery); // end of jQuery name space
    </script>
  </body>
</html>
